*.pyc
*.pyo
bin/2to3
bin/idle
bin/pydoc
bin/python
bin/python-config
bin/python2.6
bin/python2.6-config
bin/smtpd.py
lib/libpython2.6.dylib
lib/python2.6/*.py
nta/eng/.build.json
nta/eng/.buildinfo
nta/eng/bin/htmtest
nta/eng/bin/run_swarm.py
nta/eng/bin/run_tests.py
nta/eng/bin/run_tests.sh
nta/eng/bin/testeverything
nta/eng/build_system
nta/eng/conf/
nta/eng/env.sh
nta/eng/lib/libcpp_region.dylib
nta/eng/lib/python2.6/site-packages/nupic/
nta/eng/share/
nta/eng/tests
share/man
